<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <div class="container bg-gray p-3 rounded  text-center mt-5">
        <img src="/img/404.png" class="img-fluid m-4" alt="404 not found.">
        <hr class="my-3"/>
        <p class="h4">The page you are looking for does not exist. How you got here is a mystery.</p>
        <hr class="my-3"/>

    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
