<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="bg"></div>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <div class="container justify-content-center float-lg-right">
        <div class=" badge-xl badge-dark mt-2 text-center">
            <div class="font-weight-bold">PLAYLIST NAME</div>
            <audio src="" controls id="audioPlayer">
                Sorry, your browser doesn't support html5!
            </audio>
            <ul id="playlist">
                <div class="row">
                    <div class="col-8">

                        <li class="current-song"><a href="/css/01%20Duvet.mp3">Exit the Premises</a></li>
                        <li><a href="/css/02 Twilight.mp3">Severe Tire Damage</a></li>
                    </div>
                    <div class="dropdown ">
                        <button class="btn btn-secondary dropdown-toggle p-0 pl-1 pr-1" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Remove
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Yes,Remove.</a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/js/audioPlayer.js"></script>
        <script>
            // loads the audio player
            audioPlayer();
        </script>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
    <th:block th:include="~{/fragments/popper}"></th:block>

</body>
</html>
>