<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main >
    <h1 class="text-center mt-2"><span class="badge badge-warning ">Send message</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-dark bg-gray p-3 rounded" th:object="${messageBindingModel}" th:action="@{/messages/send}" method="POST">
        <div class="form-group">
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary text-center"></p>
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="receiver" class="h3 mb-2">Send to:</label>
            </div>
            <input th:field="*{receiver}" type="text" class="form-control" id="receiver" name="receiver"/>
            <small th:each="e : ${#fields.errors('receiver')}" th:text="${e}" class="text-center bg-dark text-danger"></small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="message" class="h3 mb-2">Message:</label>
            </div>
            <textarea th:field="*{message}" class="form-control"  id="message" name="message" rows="3"></textarea>
            <small th:each="e : ${#fields.errors('message')}" th:text="${e}" class="text-center bg-dark text-danger"></small>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Send</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
