
.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}

.orange-text{
    color: #F9690E;
}
.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.error-color {
    text: red;
}

.label {
    color: white
}

nav > p {
    float: left;
    color: #F9690E;

}

/*body#index {*/
/*    background-image: url(/img/MALE-SHIRT.jpg);*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    margin-bottom: 5rem;*/
/*}*/

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:30%;
}
.badge-xl{
    padding: 10px 20px;
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
    width:30%;
}
#playlist{
    list-style: none;
}
#playlist li a{
    color:white;
    text-decoration: none;
}
#playlist .current-song a{
    color:#F9690E;
}

body {
    background-image: url(/img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}


textarea {
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


