<th:block>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        <!-- Facebook -->
        <a href="https://www.facebook.com/" target="_blank" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-3 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/" target="_blank" class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-3 fa-2x"> </i>
        </a>
        <!-- Git +-->
        <a href="https://github.com/asennesa/Spring-MVC-project/tree/master/StreamIt " target="_blank" >
            <i class="fab fa-github fa-lg white-text mr-3  fa-2x"> </i>
        </a>
        <!--Instagram-->
        <a href="https://www.instagram.com/" target="_blank" class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-3 fa-2x"> </i>
        </a>
        <!--Pinterest-->
        <a href="https://www.pinterest.com/" target="_blank" class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
        </a>
    </div>

    <div class="footer-copyright text-center ">

        © 2020 Copyright: StreamIt!
    </div>
    <!-- Copyright -->
</th:block>