<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <p><i class="fas fa-compact-disc fa-2x"></i></p>
    <a class="nav-link text-white active h4" href="/">StreamIt!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">
            <!--            <th:block th:if="${session.isEmpty()}">-->
            <li class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/login">Login</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/register">Register</a>
            </li>
            <!--            </th:block>-->
            <!--            <th:block  th:unless="${session.isEmpty()}">-->
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/songs/upload">Upload</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/shows/addShow">Add Show</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/playlists/createPlaylist">Create Playlist</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/users/logout">Logout</a>
            </li>
            <!--            </th:block>-->
        </ul>
    </div>
</th:block>