<th:block xmlns:th="http://www.thymeleaf.org">
    <p><i class="fas fa-compact-disc fa-2x"></i></p>
    <a class="nav-link text-white active h4" href="/">StreamIt!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">
            <li class="nav-item col-md-4">
                <a class="nav-link" href="/home">
                    <span >Welcome, {username}!</span>
                </a>
            </li>
            <!--            <th:block th:if="${session.isEmpty()}">-->
            <li class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/login">Login</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/register">Register</a>
            </li>
            <!--            </th:block>-->
            <!--            <th:block  th:unless="${session.isEmpty()}">-->
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/songs/upload">Upload</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/shows/add">Add Show</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/playlists/create">Create Playlist</a>
            </li>
            <li class="col-md-4">
                <a class="nav-link orange-text active h6" href="/users/logout">Logout</a>
            </li>
            <!--            </th:block>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</th:block>