<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
    <p><i class="fas fa-compact-disc fa-2x"></i></p>

    <a sec:authorize="isAnonymous()" class="nav-link text-white active h4" href="/">StreamIt!</a>
    <a sec:authorize="isAuthenticated()" class="nav-link text-white active h4" href="/home">StreamIt!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-3">

            <th:block sec:authorize="isAnonymous()" >
            <li class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/login">Login</a>
            </li>
            <li  class="nav-item col-md-4">
                <a class="nav-link orange-text active h5" href="/users/register">Register</a>
            </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()" >
            <li class="nav-item">
                <a class="nav-link orange-text active h6" href="/songs/upload">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link orange-text active h6" href="/shows/add">Add Show</a>
            </li>
            <li class="nav-item">
                <a class="nav-link orange-text active h6" href="/playlists/create">Create Playlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link orange-text active h6" href="/messages/send">Send message</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn btn-warning">Logout</button>
                </form>
            </li>
            </th:block>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</th:block>